<h1>Bonjour! confirmer votre adresse email!</h1>

<p>
    Confirmer votre compte en cliquant sur le lien ci-dessous (vous serez redirigier sur notre site) <br><br>
    <a href="{{ signedUrl }}">Confirmer votre adresse email</a>.
    Ce lien expires dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    bienvenue parmis nous !
</p>