body {
    font-size: 10px;
}

/*
    HEADER
*/

header {
    background-color: black;
    color: white;
    display: grid;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 50px 0 auto 0;
}

.imgLogo {
    width: 100px;
}

.logo>a :hover {
    text-decoration: none;
}

.bgSearch {
    background-color: white;
    margin-top: 54px;
    width: 192px;
    height: 16px;
    border-radius: 0 5px 5px 0;
}

#idCategorie {
    border: none;
    padding-top: 2px;
}

.search {
    border: none;
}

.menu {
    margin-top: 50px;
    position: relative;
}

.imgMenu {
    width: 25px;
}

.actionHeader {
    display: none;
}