@media screen and (min-width: 701px) {

    body {
        background: red;
        font-size: 12px;
    }

    .logo {
        margin-top: 40px;
    }

    .imgLogo {
        width: 200px;
    }

    .bgSearch {
        margin-top: 54px;
        width: 350px;
        border-radius: 0 5px 5px 0;
        height: 20px;
    }

    .search {
        width: 250px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: green;
    }

    header {
        justify-content: flex-start;
    }

    .logo {
        margin-left: 25px;
    }

    .bgSearch {
        margin-left: 25px;
    }

    .menu {
        position: relative;
        width: 350px;
        margin-left: 25px;
    }

    .imgMenu {
        display: none;
    }

    .nav {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
    }

    .nav-user {
        color: #BD7201;
        width: 200px;
    }

    .nav-site {
        display: flex;
        width: 250px;
        justify-content: flex-end;
    }

    .btnMenuStyle {
        margin-left: 15px;
        border: 2px solid #BD7201;
        border-radius: 8px;
        padding: 5px;
        position: relative;
        bottom: 5px;
        color: #BD7201;
        background: white;
        width: 80px;
        text-align: center;
    }

    .btnMenuStyle>a {
        text-decoration: none;
        color: #BD7201;
    }

    /*   .connexion,
    .inscription {
        margin-left: 15px;
        border: 2px solid #BD7201;
        border-radius: 8px;
        padding: 5px;
        position: relative;
        bottom: 5px;
        color: #BD7201;
        background: white;
        width: 60px;
        text-align: center;
    }

    .connexion>a,
    .inscription>a {
        text-decoration: none;
        color: #BD7201;
    }*/
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1072px) {
    body {
        background: yellow;
    }
}