<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{asset('assets/css/normalize.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="#"> Logo</a>
        </div>
        <div class="bgSearch">
            <select class="selectCategorie" name="categorie" id="idCategorie">
                <option value="">Categorie</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <input class="search" type="text" name="search" placeholder="Rechercher" />
        </div>
        <div class="menu">Btn</div>

    </header>
    {% block body %}


    {% endblock %}

</body>

</html>